# Created by venv; see https://docs.python.org/3/library/venv.html
*
!.gitignore
!webapp.py
!detector.py
!utils.py
!templates/
!templates/**
!static/
!static/**
!scripts/
!scripts/**
!vercel.json
!package.json
!requirements-web.txt
!render.yaml
